@use 'sass:math';
@use '../Mixin/_mixin' as *;
@use '../Config/_variables' as var;
/*------------------------
  base css
------------------------*/
:root {
  --color_main: #333;
  --color_sub: #391e88;
  --bg_gray: #f7f7f7;
  --bg_black: #120e19;
  --width_content: 1440px;
  --width_sm: 750px;
  --width_md: 1100px;
  --width_lg: 1300px;
  --btn: linear-gradient(90deg, rgba(116, 50, 162, 1) 0%, rgba(38, 14, 102, 1) 100%);
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.otf') format('opentype');
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.otf') format('opentype');
  font-display: swap;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var.$font;
  @include font-size(15);
  color: var.$main;
  line-height: 1.6;
  letter-spacing: 0.05em;
  @include mq(max, 0, var.$md) {
    @include font-size(14);
    line-height: 1.7;
  }
}

a {
  @include font-size(15);
  line-height: 1.6;
  display: inline-block;
  text-decoration: none;
  word-break: break-all;
  @include transition();
  cursor: pointer;
  text-underline-offset: 3px;
  @include mq(max, 0, var.$md) {
    @include font-size(14);
    line-height: 1.7;
  }
  &:hover {
    @include mq(min, 0, var.$md) {
      text-decoration: underline;
      // opacity: 0.7;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

p {
  @include font-size(15);
  line-height: 1.6;
  letter-spacing: 0.05em;
  word-break: break-all;
  // background: var.$btn;
  // background: var(--btn);
  @include mq(max, 0, var.$md) {
    @include font-size(14);
    line-height: 1.7;
  }
}
