@use 'sass:math';
@use '../../Mixin/_mixin' as *;
@use '../../Config/_variables' as var;
/*------------------------
  top
------------------------*/
/////////////////////////
// top
////////////////////////
.l-top {
  &-news {
    display: flex;
    justify-content: center;
    max-width: 920px;
    margin: 0 auto;
    @include mq(max, 0, var.$md) {
      max-width: 100%;
      flex-direction: column;
    }
    .l-news-list {
      margin-left: 50px;
      flex-basis: calc(100% - 170px);
      @include mq(max, 0, var.$md) {
        margin-left: 0;
        flex-basis: auto;
      }
    }
    .l-heading-2-container {
      flex-basis: 170px;
      @include mq(max, 0, var.$md) {
        flex-basis: auto;
      }
    }
  }
  &-service {
    max-width: var.$md_width;
    margin: 0 auto;
  }
  &-works {
    max-width: 1260px;
    margin: 0 auto;
    .l-slide {
      max-width: 750px;
    }
    &-bg {
      background: linear-gradient(90deg, #fff 0%, #fff 20%, #f0f0f0 20%, #f0f0f0 100%);
      padding-top: 60px;
      padding-bottom: 80px;
      @include mq(max, 0, var.$md) {
        background: linear-gradient(180deg, #fff 0%, #fff 20%, #f0f0f0 20%, #f0f0f0 100%);
        padding: 0 20px 60px;
      }
    }
    &-inner {
      display: flex;
      align-items: center;
      @include mq(max, 0, var.$md) {
        flex-direction: column;
      }
    }
    &-detail {
      flex-grow: 1;
      margin: 0 20px;
      @include mq(max, 0, var.$md) {
        margin: 40px 0 0;
      }
    }
  }
  &-company {
    max-width: var.$lg_width;
    margin: 0 auto;
    &-bg {
      &-circle {
        background-image: url('#{var.$bg_path}bg_circle.png');
        background-repeat: no-repeat;
        background-size: 864px auto;
        background-position: top center;
        aspect-ratio: 16 / 9;
      }
      &-face {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('#{var.$bg_path}bg_face.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        height: 100%;
        // aspect-ratio: 16 / 9;
      }
    }
  }
  &-recruit {
    &-inner {
      max-width: var.$md_width;
      background-color: var.$bg_gray;
      margin: 0 auto;
    }
    &-column {
      display: flex;
      align-items: center;
      &-item {
        &:first-child {
          flex: 1 1 445px;
          margin: 0 20px;
        }
      }
    }
  }
}
