<div class="l-top-company">
  <div class="l-top-company-bg-circle">
    <div class="l-top-company-bg-face">
      <div class="l-top-company-inner">
        <div class="l-heading-top-container">
          <h2 class="m-heading-top">COMPANY<span class="m-heading-top-sub">私たちについて</span></h2>
        </div>
        <p class="m-txt-top-lead"><span class="m-txt-marker-yellow">サイトのゴール = <br class="m-hide-pc">夢を叶えること</span></p>
        <p class="m-txt-top-company">お客様の夢を叶えること。<br>それがWebサイトのゴールであり、<br class="m-hide-pc">私たちが目指すことです。<br>だからこそちゃんと成果を出すサイトを<br class="m-hide-pc">全力でお作りします。<br>お客様の笑顔を見たい。<br>夢を実現する手助けをさせてください。</p>
        <div class="l-btn-container">
          <a href="/company/" class="m-btn">私たちについてへ</a>
        </div>
      </div>
    </div>
  </div>

</div>