<div class="l-mainvisual-top l-mainvisual-body">
  <h1 class="m-mainvisual-heading">WEB DESIGN SPECIALIST</h1>
  <p class="m-mainvisual-heading-sub">お客様の夢を叶えるWebサイトを制作</p>
  <a href="/contact/" class="m-mainvisual-heading-btn">CONTACT</a>
</div>
<p class="m-mainvisual-scroll">SCROLL</p>