<div class="l-top-recruit">
  <div class="l-top-recruit-inner">
    <div class="l-top-recruit-column">
      <div class="l-top-recruit-column-item">
        <div class="l-heading-top-container">
          <h2 class="m-heading-top">RECRUIT<span class="m-heading-top-sub">採用情報</span></h2>
        </div>
        <p class="m-ac">私たちと一緒に働きませんか？</p>
        <div class="l-btn-container">
          <a href="/recruit/" class="m-btn">採用情報へ</a>
        </div>
      </div>
      <div class="l-top-recruit-column-item">
        <img src="<%- IMG %>top/img_recruit_01.jpg" alt="" width="665" height="340" loading="lazy">
      </div>
    </div>
  </div>
</div>