<%
  const COLUMNITEMS = [
    {
      title: 'Webサイト制作',
      txt: '新規サイトの制作はもちろんサイトリニューアルやランディングページの制作も可能です。',
      src: '/assets/img/top/top_service_01.jpg',
      alt: '',
    },
    {
      title: 'Webサイト運用',
      txt: 'サイトの更新作業や独自のアクセス解析に基づいたサイト改善のご提案をいたします。',
      src: '/assets/img/top/top_service_02.jpg',
      alt: '',
    },
    {
      title: 'アプリ開発',
      txt: 'スマートフォンアプリ開発の他、Vue.jsやReactによるWebアプリの開発が可能です。',
      src: '/assets/img/top/top_service_03.jpg',
      alt: '',
    },
    {
      title: 'Webサイト運用',
      txt: 'サイトの更新作業や独自のアクセス解析に基づいたサイト改善のご提案をいたします。',
      src: '/assets/img/top/top_service_02.jpg',
      alt: '',
    },

]
%>
<div class="l-top-service">
  <div class="l-heading-2-container">
    <h2 class="m-heading-top">SERVICE<span class="m-heading-top-sub">事業内容</span></h2>
  </div>
  <ul class="l-column">
    <% COLUMNITEMS.forEach((elem, index) =>{ %>
    <li class="l-column-list l-column-list-height-ajust" data-col="4" data-col-sp="12">
      <div class="l-media l-media-col">
        <img src="<%- elem.src %>" alt="<%- elem.alt %>" width="350" height="220" class="m-media-img">
        <dl class="m-media-description">
          <dt class="m-media-description-title"><%- elem.title %></dt>
          <dd class="m-media-description-txt"><%- elem.txt %></dd>
        </dl>
      </div>
    </li>
    <% }); %>
  </ul>
  <div class="l-btn-container">
    <a href="/service/" class="m-btn">MORE</a>
  </div>
</div>