////////////////
//  variables
////////////////
//画面幅
$content_width: 1440px;
$sm_width: 750px;
$md_width: 1100px;
$lg_width: 1300px;
$inner_width: 960px;
$sp: 375 * 2; // デザインカンプの幅

//フォント
// $font: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
// $font-noto: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
// //   "Hiragino Sans", Meiryo, sans-serif;
// $font: 'Yu Gothic', '游ゴシック', 'YuGothic', '游ゴシック体', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
$font: 'Montserrat', sans-serif, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'Yu Gothic', '游ゴシック', 'YuGothic', '游ゴシック体', 'メイリオ', sans-serif;
$maborosi: 'Montserrat', sans-serif;

//カラー
$main: #333;
$sub: #391e88;
$bg_header: #21054d;
$bg_gray: #f7f7f7;
$bg_black: #120e19;
$btn: linear-gradient(90deg, rgba(116, 50, 162, 1) 0%, rgba(38, 14, 102, 1) 100%);
$btn-rev: linear-gradient(90deg, rgba(38, 14, 102, 1) 0%, rgba(116, 50, 162, 1) 100%);

//パス
$img_path: '/assets/img/';
$bg_path: '/assets/img/bg/';

//ブレイクポイント
$bp-sp: 'screen and (max-width: 599px)';
$lg: '1024';
$md: '768';
$sm: '600';
