<%
  const BREADS = [
    {
      label: 'Home',
      href: '/'
    },
    {
      label: 'Home',
      href: '/'
    }
]
%>
<div class="l-breadcrumb">
  <ol class="l-breadcrumb-list" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="l-breadcrumb-list-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a class="m-breadcrumb-link" itemprop="item" href="/"><span itemprop="name" class="m-breadcrumb-txt">HOME</span></a>
      <meta itemprop="position" content="1" />
    </li>
    <li class="l-breadcrumb-list-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <span class="m-breadcrumb-txt" itemprop="name"><%= breadcrumb %></span>
      <meta itemprop="position" content="2" />
    </li>
  </ol>
</div>

<!-- <ol itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="/"><span itemprop="name">HOME</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <span itemprop="name">NEWS</span>
    <meta itemprop="position" content="2" />
  </li>
</ol> -->