<div class="l-contact">
  <div class="l-contact-inner">
    <div class="l-heading-top-container l-heading-top-container-contact">
      <h2 class="m-heading-top">CONTACT<span class="m-heading-top-sub">お問い合わせ</span></h2>
    </div>
    <p class="m-ac">Webサイトの制作のご依頼やお見積りなど、<br class="m-hide-pc">お気軽にご相談ください。</p>
    <div class="l-btn-container">
      <a href="/contact/" class="m-btn">お問い合わせへ</a>
    </div>
  </div>
</div>