<div class="l-header">
	<div class="l-header-inner">
		<h1 class="m-heading-1"><a href="http://soma-yaki.com/" target="_blank" rel="noopener noreferrer"><img src="<%= IMG %>logo.png" width="236" height="48" alt="松永陶器店 MATSUNAGA"></a></h1>
	</div><!-- ./l-header-inner -->
</div><!-- ./l-header -->