<div class="l-btn l-btn-line">
  <a href="/" class="m-btn m-btn-line" target="_blank" rel="noopener noreferrer">
    <div class="l-btn-col">
      <div class="l-btn-col-img">
        <img src="<%= IMG %>icon_line.svg" width="48" height="48" alt="LINE">
      </div>
      <div class="l-btn-col-txt">
        <p class="m-txt m-txt-line">大堀相馬焼 松永窯 <br class="m-hide-pc">LINE公式アカウントの登録はこちらから</p>
      </div>
    </div><!-- ./l-btn-col -->
  </a>
</div><!-- ./l-btn -->