<%
  const TITLE = title ? title : '';
  const SUBTITLE = subTitle ? subTitle : '';
%>
<div class="l-mainvisual-body">
  <div class="l-heading-1-container">
    <h1 class="m-heading-1"><%- TITLE %> </h1>
    <p class="m-heading-1-sub"><%- SUBTITLE %> </p>
  </div>
</div>