@use 'sass:math';
@use '../../Mixin/_mixin' as *;
@use '../../Config/_variables' as var;
/*------------------------
  heading
------------------------*/
/////////////////////////
// heading
////////////////////////
.l-heading {
  // &-2 {
  //   &-container {
  //     & + * {
  //       margin-top: 30px;
  //     }
  //   }
  // }
  @include mq(max, 0, var.$sp) {
    @include sizeVw(mt, 47);
  }
}

.m-heading {
  &-top {
    color: var.$sub;
    @include font-size(36);
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include mq(max, 0, var.$md) {
      @include font-size(30);
    }
    &-left {
      align-items: flex-start;
      @include mq(max, 0, var.$md) {
        align-items: center;
      }
    }
    &-sub {
      @include font-size(13);
      font-weight: bold;
      &-left {
        align-self: flex-start;
        @include mq(max, 0, var.$md) {
          align-self: center;
        }
      }
    }
  }
}
