@use 'sass:math';
@use '../../Mixin/_mixin' as *;
@use '../../Config/_variables' as var;
/*------------------------
  heading
------------------------*/
/////////////////////////
// heading
////////////////////////
.l-heading {
  &-1 {
    &-large {
      &-container {
        & + * {
          margin-top: 40px;
        }
      }
    }
  }
  &-2 {
    &-container {
      // margin-top: 40px;
      @include mq(max, 0, var.$md) {
        // margin-top: 80px;
      }
      & + * {
        margin-top: 40px;
        @include mq(max, 0, var.$md) {
          margin-top: 30px;
        }
      }
      &[data-space-top='lg'] {
        margin-top: 140px;
        @include mq(max, 0, var.$md) {
          margin-top: 80px;
        }
      }
      &-contact {
        & + * {
          margin-top: 35px;
          @include mq(max, 0, var.$md) {
            margin-top: 30px;
          }
        }
      }
    }
  }
  &-3 {
    &-container {
      & + * {
        margin-top: 50px;
        @include mq(max, 0, var.$md) {
          margin-top: 30px;
        }
      }
    }
  }
}

.m-heading {
  &-top {
    color: var(--color_sub);
    color: var.$sub;
    @include font-size(36);
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include mq(max, 0, var.$md) {
      @include font-size(30);
    }
    &-left {
      align-items: flex-start;
      @include mq(max, 0, var.$md) {
        align-items: center;
      }
    }
    &-sub {
      @include font-size(13);
      font-weight: bold;
      &-left {
        align-self: flex-start;
        @include mq(max, 0, var.$md) {
          align-self: center;
        }
      }
    }
  }
  &-1 {
    color: #fff;
    @include font-size(36);
    font-weight: bold;
    &-sub {
      color: #fff;
      @include font-size(14);
      font-weight: bold;
      text-align: center;
    }
    &-large {
      color: var(--color_sub);
      color: var.$sub;
      @include font-size(72);
      font-weight: bold;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      @include mq(max, 0, var.$md) {
        @include font-size(48);
        line-height: 1.16;
      }
      &-sub {
        color: var(--color_sub);
        color: var.$sub;
        @include font-size(36);
        @include mq(max, 0, var.$md) {
          @include font-size(18);
          margin-top: 15px;
        }
      }
    }
  }
  &-2 {
    color: var(--color_sub);
    color: var.$sub;
    text-align: center;
    @include font-size(32);
    font-weight: bold;
    @include mq(max, 0, var.$md) {
      @include font-size(24);
    }
    &-large {
      color: var(--color_sub);
      color: var.$sub;
      @include font-size(36);
      font-weight: bold;
      line-height: 1.2;
      display: flex;
      align-items: center;
      flex-direction: column;
      @include mq(max, 0, var.$md) {
        @include font-size(30);
      }
      &-left {
        align-items: flex-start;
        @include mq(max, 0, var.$md) {
          align-items: center;
        }
      }
      &-sub {
        @include font-size(13);
        font-weight: bold;
        &-left {
          align-self: flex-start;
          @include mq(max, 0, var.$md) {
            align-self: center;
          }
        }
      }
    }
  }
  &-3 {
    color: #333;
    color: var(--color_sub);
    text-align: center;
    @include font-size(24);
    font-weight: bold;
    @include mq(max, 0, var.$md) {
      @include font-size(16);
    }
  }
}
