<%
  const COMPANYITEMS = [
    {
      title: '社名',
      txt: '株式会社PON DESIGN',
    },
    {
      title: '設立',
      txt: '2020.01.10',
    },
    {
      title: '代表取締役',
      txt: '猫山ポン太郎',
    },
    {
      title: '資本金',
      txt: '1,000,000円',
    },
    {
      title: '所在地',
      txt: '〒555-5555 東京都千代田区 ポンビルディング 606',
    },
  ]
%>
<div class="m-block-md">
  <div class="l-media-list">
    <div class="l-media-list-item">
      <div class="l-media-img">
        <img src="/assets/img/company/img_company_01.jpg" alt="" width="445" height="330" class="m-media-img">
      </div>
      <div class="l-media-detail">
        <div class="m-media-description">
          <p class="m-media-description-txt">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
          <p class="m-media-description-txt">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
          <p class="m-media-description-txt">代表取締役社長 猫山ポン太郎</p>
        </div>
      </div>
    </div>
  </div>
  <div class="l-heading-2-container" data-space-top="lg">
    <h2 class="m-heading-2">会社概要</h2>
  </div>
  <ul class="l-list-description">
    <% COMPANYITEMS.forEach((elem, index) => { %>
    <li class="l-list-description-item l-list-description-item-underline">
      <dl class="l-description l-description-col">
        <dt class="m-description-title"><%- elem.title %></dt>
        <dd class="m-description-txt"><%- elem.txt %></dd>
      </dl>
    </li>
    <% }) %>
  </ul>
</div>
<div class="l-map m-block-md">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.8706875374432!2d126.99339625063028!3d37.534545433618696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca3e4bfe82aad%3A0x938c108f743b8409!2z5qKo5rOw6Zmi6YCa44KK!5e0!3m2!1sja!2sjp!4v1646380807903!5m2!1sja!2sjp" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  <a href="https://goo.gl/maps/qXAsURjr58b1hfGcA" target="_blank" rel="noopener noreferrer" class="m-map-link m-color-sub">Google mapで見る</a>
</div>