@use 'sass:math';
@use '../../Mixin/_mixin' as *;
@use '../../Config/_variables' as var;
/*------------------------
  media
------------------------*/
/////////////////////////
// media
////////////////////////
.l-media {
  $this: &;
  &#{$this}-col {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &-list {
    &-item {
      display: flex;
      @include mq(max, 0, var.$md) {
        flex-direction: column;
      }
      &:not(:first-child) {
        margin-top: 60px;
      }
    }
  }
  &-img {
    flex: 0 0 445px;
    max-width: 445px;
    @include mq(max, 0, var.$md) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &-detail {
    flex: 0 0 calc(100% - (445px + 50px));
    max-width: calc(100% - (445px + 50px));
    margin-left: 50px;
    @include mq(max, 0, var.$md) {
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
    }
  }
}

.m-media {
  &-img {
    width: 100%;
  }
  &-description {
    $this: &;
    flex: 1;
    display: flex;
    flex-direction: column;
    @include mq(max, 0, var.$md) {
      margin-top: 20px;
    }
    &#{$this}-col {
      margin-top: 24px;
      @include mq(max, 0, var.$md) {
        margin-top: 14px;
      }
      #{$this} {
        &-title {
          text-align: center;
          @include font-size(18);
          margin-bottom: 17px;
          @include mq(max, 0, var.$md) {
            margin-bottom: 10px;
          }
        }
        &-txt {
          // margin-top: auto;
          margin: auto 0 0 0;
        }
      }
    }
    &-title {
      @include font-size(24);
      @include mq(max, 0, var.$md) {
        @include font-size(18);
        text-align: center;
      }
    }
    &-txt {
      margin-top: 20px;
      @include mq(max, 0, var.$md) {
        @include font-size(14);
        margin-top: 15px;
      }
    }
  }
  &-link {
    &-card {
      span {
        overflow: hidden;
        display: block;
        box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
        .m-media-img {
          @include mq(min, var.$md, 0) {
            @include transition(transform);
          }
        }
      }
      &:hover {
        .m-media-img {
          @include mq(min, var.$md, 0) {
            transform: scale(1.2);
          }
        }
      }
    }
    &-txt {
      text-align: center;
      @include font-size(16);
      margin-top: 14px;
    }
  }
}
