@use 'sass:math';
@use '../../Mixin/_mixin' as *;
@use '../../Config/_variables' as var;
/*------------------------
  txt
------------------------*/
/////////////////////////
// txt
////////////////////////
.m-txt {
  &-top {
    // margin-top: 20px;
    &-lead {
      @include font-size(40);
      font-weight: bold;
      margin-top: 40px;
      @include mq(max, 0, var.$md) {
        @include font-size(32);
        text-align: center;
      }
    }
    &-company {
      text-align: center;
      line-height: 1.8;
      margin-top: 40px;
    }
  }
  &-marker {
    &-yellow {
      background: linear-gradient(transparent 70%, #f5f534 70%);
      padding: 0 10px;
    }
  }
}
