@use 'sass:math';
@use '../Mixin/_mixin' as *;
@use '../Config/_variables' as var;
@use '../Function/_vw' as func;

#scroll-menu {
  background-color: #444; /*メニューの背景色*/
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
#scroll-menu .scroll-menu-inner {
  list-style-type: none;
  width: calc(100px * 10); /*メニューの横幅*/
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}
#scroll-menu li {
  width: 100px;
  // height: 100%;
  color: white;
  cursor: pointer;
}

#scroll-menu a:active {
  background-color: #555; /*クリック時の背景色*/
}
#scroll-menu li::after,
#scroll-menu + div {
  display: block;
  content: '';
  width: 80%;
  height: 0.5em;
  background-color: #855;
  margin: 0 auto;
}
/*------------------------
  module
------------------------*/
/*///////////////////////
mainvisual
///////////////////////*/
.m-mainvisual {
  &-lead {
    color: var(--color);
    text-align: center;
    font-family: var.$maborosi;
    @include font-size(32);
    font-weight: normal;
    --color: green;
    color: var(--color);
    line-height: 1.2;
    background: url(../img/bg_mv_txt.png) repeat-y center center;
    background-size: contain;
    padding: 21px 10px 21px 10px;
    position: absolute;
    left: 0;
    bottom: 9%;
    width: 100%;
    @include mq(max, 0, var.$sp) {
      @include sizeVw(fs, 32);
      padding: calc((21 / 599) * 100%) 10px calc((21 / 599) * 100%) 10px;
    }
  }
}

/*///////////////////////
heading
///////////////////////*/
.m-heading {
  &-1 {
    text-align: center;
    font-size: func.vw(30px);
  }
  &-2 {
    font-family: var.$maborosi;
    // font-weight: bold;
    @include font-size(24);
    text-align: center;
    @include mq(max, 0, var.$sp) {
      @include font-size(22);
    }
    &-line {
      display: inline-block;
      line-height: 1.6;
      position: relative;
      padding-bottom: 5px;
      @include mq(max, 0, var.$sp) {
        padding-bottom: calc(30px / 2);
      }
      &::before {
        content: '';
        position: absolute;
        left: -14%;
        bottom: 0;
        width: 124%;
        height: 1px;
        background-color: var.$sub;
        @include mq(max, 0, var.$sp) {
          left: 0;
          width: 100%;
        }
      }
    }
  }
  &-3 {
    font-family: 'MaboroshinoNijimiMincho';
    @include font-size(24);
    text-align: center;
    @include mq(max, 0, var.$sp) {
      @include font-size(20);
    }
    &-sub {
      display: block;
      color: var.$sub;
      @include font-size(16);
      margin-bottom: 10px;
    }
  }
}

/*///////////////////////
txt
///////////////////////*/
.m-txt {
  $this: &;
  &#{$this}-line {
    text-align: center;
    @include font-size(20);
    max-width: 100%;
    @include mq(max, 0, var.$sp) {
      @include font-size(16);
    }
  }
  &-benefits {
    max-width: 100%;
    // margin-top: -21px;
    margin-top: -5%;
    @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* hack for ie11 */
      margin-top: 0;
    }
    @include mq(max, 0, var.$sp) {
      @include sizeVw(mt, 30);
    }
  }
}

/*///////////////////////
btn
///////////////////////*/
.m-btn {
  $this: &;
  display: inline-block;
  width: 100%;
  &#{$this}-line {
    color: var.$line;
    font-weight: bold;
    // padding: 35px 50px;
    padding: 17px 15px 17px 35px;
    // padding: 17px ​15px 17px 15px;
    @include mq(max, 0, var.$sp) {
      padding: calc(35px / 2) calc(50px / 2);
    }
  }
}

/*///////////////////////
definition
///////////////////////*/
.m-definition {
  &-txt {
    text-align: center;
    @include mq(max, 0, var.$sp) {
      @include font-size(14);
    }
    // padding: 20px;
    // &-icon {
    //   position: relative;
    //   &::before {
    //     content: "";
    //     // border-top: 20px solid #000;
    //     // border-right: 12px solid transparent;
    //     // border-left: 12px solid transparent;
    //     position: absolute;
    //     top: calc(50% - 10px);
    //     left: -30px;
    //     width: 22px;
    //     height: 20px;
    //     display: inline-block;
    //     vertical-align: middle;
    //     background: url(#{$img_path}icon_arrow.png) no-repeat;
    //     margin-right: 10px;
    //   }
    // }
  }
  &-bnr {
    text-align: center;
    margin-top: 26px;
    @include mq(max, 0, var.$sp) {
      @include sizeVw(mt, 26);
    }
  }
}

/////////////////////////
//state
/////////////////////////
// .is {
// }
