@use 'sass:math';
@use '../../Mixin/_mixin' as *;
@use '../../Config/_variables' as var;

/*------------------------
  header
------------------------*/
/////////////////////////
// header
////////////////////////
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  min-height: 65px;
  background-color: var.$bg_header;
  padding: 23px 30px;
  @include transition(background-color);
  @include mq(max, 0, var.$md) {
    display: flex;
    align-items: center;
    width: 100vw;
    min-height: 62px;
    padding: 10px 15px;
  }
  &-inner {
    display: flex;
    align-items: center;
    @include mq(max, 0, var.$md) {
      flex: 1;
    }
  }
}

.m-header {
  &-logo {
    margin-right: auto;
    img {
      vertical-align: middle;
      @include mq(max, 0, var.$md) {
        width: 124px;
        // height: 22px;
      }
    }
  }
}
