@use 'sass:math';
@use '../../Mixin/_mixin' as *;
@use '../../Config/_variables' as var;

/*------------------------
  nav
------------------------*/
/////////////////////////
// nav
////////////////////////
.l-nav {
  $this: &;
  @include mq(max, 0, var.$md) {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-list {
    display: flex;
    @include mq(max, 0, var.$md) {
      flex-direction: column;
    }
  }
  &-footer {
    @include mq(max, 0, var.$md) {
      display: block;
      position: static;
      top: 0;
      left: 0;
      transform: none;
    }
    #{$this}-list {
      justify-content: center;
      @include mq(max, 0, var.$lg) {
        flex-wrap: wrap;
      }
      @include mq(max, 0, var.$md) {
        justify-content: flex-start;
        flex-direction: row;
      }
    }
  }
}

.m-nav {
  $this: &;
  &-list {
    &-item {
      @include mq(max, 0, var.$md) {
        text-align: center;
      }
      &:not(:first-child) {
        margin-left: 25px;
        @include mq(max, 0, var.$md) {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }
  }
  &-link {
    color: #fff;
    font-weight: bold;
    position: relative;
    @include mq(min, var.$md, 0) {
      &:hover {
        text-decoration: none;
      }
    }
    @include mq(min, var.$lg, 0) {
      @include font-size(15);
    }
    @include mq(max, 0, var.$lg) {
      @include font-size(12);
    }
    @include mq(max, 0, var.$md) {
      @include font-size(15);
    }
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transition: width 0.3s ease;
    }
    &:hover {
      @include mq(max, 0, var.$md) {
        text-decoration: none;
      }
      @include mq(min, var.$sp, 0) {
        &::before {
          width: 100%;
        }
      }
    }
  }
  &-footer {
    &-list {
      &-item {
        @include mq(max, 0, var.$md) {
          margin-right: 20px;
          margin-bottom: 20px;
        }
        &:not(:first-child) {
          margin-left: 30px;
          @include mq(max, 0, var.$md) {
            margin-left: 0;
            margin-top: 0;
          }
        }
        &:last-child {
          @include mq(max, 0, var.$md) {
            margin-right: 0;
          }
        }
      }
    }
    &-link {
      @include font-size(14);
    }
  }
}
