<h1>Webデザインニュースサイト「ウェブマガジン」に取材いただきました</h1>
<div class="m-news-detail">
  <div class="m-news-detail-info">
    <time class="m-news-detail-date" datetime="2030-02-01">2030.02.01</time>
    <span class="m-news-detail-label">お知らせ</span>
  </div>
</div>
<img src="/assets/img/news/img_news_01.jpg" alt="" width="750" height="400">
<p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
<h2>大見出し</h2>
<p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
<h3>小見出し</h3>
<p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
<p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
<ul class="l-article-paging">
  <li class="l-article-paging-item l-article-paging-item-next">
    <a href="/">Web Conference様のサイトを制作いたしました</a>
  </li>
  <li class="l-article-paging-item l-article-paging-item-prev">
    <a href="/">プライバシーマーク取得のお知らせ</a>
  </li>
</ul>
<div class="l-btn-container">
  <a href="/news/" class="m-btn">NEWS一覧へ戻る</a>
</div>
