@use 'sass:math';
@use '../../../Mixin/_mixin' as *;
@use '../../../Config/_variables' as var;
/*------------------------
  top
------------------------*/
/////////////////////////
// top
////////////////////////
.l-top {
  &-news {
    display: flex;
    justify-content: center;
    max-width: 920px;
    margin: 0 auto;
    @include mq(max, 0, var.$md) {
      max-width: 100%;
      flex-direction: column;
    }
    .l-news-list {
      margin-left: 50px;
      flex-basis: calc(100% - 170px);
      @include mq(max, 0, var.$md) {
        margin-left: 0;
        flex-basis: auto;
      }
    }
    .l-heading-2-container {
      flex-basis: 170px;
      @include mq(max, 0, var.$md) {
        flex-basis: auto;
      }
    }
  }
  &-service {
    max-width: var(--width_md);
    max-width: var.$md_width;
    margin: 0 auto;
  }
  &-works {
    max-width: 1260px;
    margin: 0 auto;
    &-bg {
      background: linear-gradient(90deg, #fff 0%, #fff 30%, #f0f0f0 30%, #f0f0f0 100%);
      padding-top: 60px;
      padding-bottom: 80px;
      @include mq(max, 0, var.$md) {
        background: linear-gradient(180deg, #fff 0%, #fff 20%, #f0f0f0 20%, #f0f0f0 100%);
        padding: 0 20px 60px;
      }
    }
    &-inner {
      display: flex;
      align-items: center;
      @include mq(max, 0, var.$md) {
        flex-direction: column;
      }
    }
    &-detail {
      flex-grow: 1;
      margin: 0 20px;
      @include mq(max, 0, var.$md) {
        margin: 60px 0 0;
      }
    }
  }
  &-company {
    max-width: var(--width_lg);
    max-width: var.$lg_width;
    margin: 0 auto;
    &-bg {
      &-circle {
        background-image: url('#{var.$bg_path}bg_circle.png');
        background-repeat: no-repeat;
        // background-size: 864px auto;
        background-size: contain;
        background-position: top center;
        // aspect-ratio: 16 / 9;
        padding-bottom: 73px;
        @include mq(max, 0, var.$md) {
          // width: 100vw;
          background-image: url('#{var.$bg_path}bg_circle_sp.png');
          background-position: top;
          // background-position: top left -20px;
          // background-size: 111% auto;
          // background-size: cover;
          padding-bottom: 80px;
          // margin-left: calc(-50vw + 50%);
          // margin-right: calc(-50vw + 50%);
          // aspect-ratio: auto;
        }
        @include mq(max, 0, var.$md) {
          background-position: top left -20px;
        }
      }
      &-face {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('#{var.$bg_path}bg_face.png');
        background-repeat: no-repeat;
        // background-size: contain;
        background-size: 1300px auto;
        background-position: center center;
        height: 100%;
        @include mq(max, 0, var.$md) {
          background-image: none;
          padding: 0 20px;
        }
        // aspect-ratio: 16 / 9;
      }
    }
  }
  &-recruit {
    &-inner {
      max-width: var(--width_md);
      max-width: var.$md_width;
      background-color: var(--bg_gray);
      background-color: var.$bg_gray;
      margin: 0 auto;
    }
    &-column {
      display: flex;
      align-items: center;
      @include mq(max, 0, var.$md) {
        flex-direction: column-reverse;
        padding-bottom: 60px;
      }
      &-item {
        &:first-child {
          flex: 1 1 445px;
          margin: 0 20px;
          @include mq(max, 0, var.$md) {
            flex: 1;
            margin: 60px 0 0;
          }
        }
        &:last-child {
          @include mq(max, 0, var.$md) {
            width: 100%;
          }
          img {
            @include mq(max, 0, var.$md) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
