@use 'sass:math';
@use '../../../Mixin/_mixin' as *;
@use '../../../Config/_variables' as var;
/*------------------------
  works
------------------------*/
/////////////////////////
// works
////////////////////////
.l-works {
  max-width: var(--width_md);
  max-width: var.$md_width;
  margin: 0 auto;
}
