@use 'sass:math';
@use '../../Mixin/_mixin' as *;
@use '../../Config/_variables' as var;
/*------------------------
  column
------------------------*/
/////////////////////////
// column
////////////////////////
.l-column {
  width: 100%;
  display: flex;
  // gap: 30px;
  flex-wrap: wrap;
  margin-top: -40px;
  margin-left: -10px;
  margin-right: -10px;
  // margin-top: 40px;
  // margin-bottom: 40px;
  @include mq(max, 0, var.$md) {
    margin-left: 0;
    margin-right: 0;
    // @include sizeVw(mt, 40);
    // @include sizeVw(mb, 40);
  }
  &-list {
    padding: 0 10px;
    margin-top: 40px;
    &[data-gutter='none'] {
      padding: 0;
    }
    &[data-gutter='md'] {
      padding: 0 15px;
    }
    &[data-gutter='lg'] {
      padding: 0 20px;
    }
    @for $value from 1 through 12 {
      &[data-col='#{$value}'] {
        width: math.div(100%, 12) * $value;
      }
    }
    @for $value from 1 through 12 {
      &[data-col-sp='#{$value}'] {
        @include mq(max, 0, var.$md) {
          width: math.div(100%, 12) * $value;
        }
      }
    }
    &[data-col-sp='12'] {
      @include mq(max, 0, var.$md) {
        padding: 0;
      }
    }
    @include mq(max, 0, var.$md) {
      padding: 0;
    }
    &-height {
      &-ajust {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
