@use 'sass:math';
@use '../Mixin/_mixin' as *;
@use '../Config/_variables' as var;

/*------------------------
  layout
------------------------*/
/*///////////////////////
header
///////////////////////*/
.l-header {
  width: 100%;
  margin: 27px 0 29px;
  &-inner {
    max-width: var.$content_width;
    padding: 0 2%;
    margin: 0 auto;
  }
}

/*///////////////////////
mainvisual
///////////////////////*/
.l-mainvisual {
  width: 100%;
  // margin-bottom: 77px;
  &-inner {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: var.$content_width;
    margin: 0 auto;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 50%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   background-image: url(../img/bg_mv_left.jpg);
    //   background-repeat: repeat-x;
    //   z-index: -1;
    // }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 50%;
    //   height: 100%;
    //   top: 0;
    //   right: 0;
    //   background-image: url(../img/bg_mv_right.jpg);
    //   background-repeat: repeat-x;
    //   z-index: -1;
    // }
  }
}

/*///////////////////////
main
///////////////////////*/
.l-main {
  margin-top: 47px;
  @include mq(max, 0, var.$sp) {
    @include sizeVw(mt, 47);
  }
}

/*///////////////////////
section
///////////////////////*/
.l-section {
  width: 100%;
  &:not(:first-of-type) {
    margin-top: 65px;
    @include mq(max, 0, var.$sp) {
      @include sizeVw(mt, 65);
    }
  }
  &:last-child {
    margin-top: 91px;
    @include mq(max, 0, var.$sp) {
      @include sizeVw(mt, 91);
    }
  }
  &-inner {
    max-width: var.$content_width;
    padding: 0 3%;
    margin: 0 auto;
    box-sizing: content-box;
  }
}

/*///////////////////////
heading
///////////////////////*/
.l-heading {
  &-2 {
    &-container {
      overflow: hidden;
      // margin-top: 80px;
      // margin-bottom: 100px;
      @include mq(max, 0, var.$sp) {
        margin-bottom: calc(100px / 2);
      }
    }
  }
}

/*///////////////////////
btn
///////////////////////*/
.l-btn {
  // max-width: 780px;
  max-width: 520px;
  // margin: 88px auto 0;
  margin: 53px auto 0;
  @include mq(max, 0, var.$sp) {
    @include sizeVw(mt, 53) // margin-top: calc(80px / 2);
;
  }
  &-inner {
    padding: 35px 50px;
  }
  &.l-btn-line {
    border: 4px solid var.$line;
  }
  &-col {
    display: flex;
    align-items: center;
    // justify-content: center;
    &-img {
      // flex: 0 1 72px;
      flex: 0 0 48px;
    }
    &-txt {
      // flex: 1 0 auto;
      // margin-left: 33px;
      flex: 1;
      min-width: 0;
      margin-left: 7px;
    }
  }
}

/*///////////////////////
definition
///////////////////////*/
// .l-definition{
//   max-width: 480px;
//   margin: 0 auto;
// }

/*///////////////////////
column
///////////////////////*/
.l-column {
  &-container {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    // overflow: hidden;
    @include mq(max, 0, var.$sp) {
      @include sizeVw(mt, 40);
      @include sizeVw(mb, 40);
    }
  }
  &-row {
    display: flex;
    flex-wrap: wrap;
    // margin: -40px -30px 0;
    // margin: 0 -30px 0;
    @include mq(max, 0, var.$sp) {
      // margin: -20px 0 0;s
    }
    &[data-valign='center'] {
      justify-content: center;
      align-items: center;
    }
  }
  &-col {
    padding: 0 15px;
    // margin-top: 40px;
    @include mq(max, 0, var.$sp) {
      @include sizeVw(mt, 40); // margin-top: 20px;
      padding: 0;
    }
    @for $value from 1 through 12 {
      &[data-col='#{$value}'] {
        width: math.div(100%, 12) * $value;
      }
    }
    @for $value from 1 through 12 {
      &[data-col-sp='#{$value}'] {
        @include mq(max, 0, var.$sp) {
          width: math.div(100%, 12) * $value;
        }
      }
    }
    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
}

/////////////////////////
//grid
/////////////////////////
//* autoprefixer grid: autoplace */
.l-grid {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  // gap: 10px 20px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template:
    'header header'
    'aside  main'
    'footer footer';
  // area→row/column
  // grid-template:
  //   "header header" 50px
  //   "aside  main" 1fr
  //   "footer footer" 50px /
  //   200px 1fr;
  // display: flex;
  // align-items: center;
  @include mq(max, 0, var.$sp) {
    grid-template:
      'header header'
      'aside  aside'
      'main main'
      'footer footer';
  }
  & > *:first-child {
    grid-area: header;
  }
  & > *:nth-child(2) {
    grid-area: aside;
  }
  & > *:nth-child(3) {
    grid-area: main;
  }
  & > *:last-child {
    grid-area: footer;
  }
}

/*///////////////////////
benefits
///////////////////////*/
.l-benefits {
  $this: &;
  margin-top: 93px;
  margin-bottom: 80px;
  @include mq(max, 0, var.$sp) {
    @include sizeVw(mt, 93);
    @include sizeVw(mb, 80);
  }
  &-sentence {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;
    justify-content: space-evenly;
    height: 100%;
    max-width: 100%;
    // padding-left: 75px;
    @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* hack for ie11 */
      justify-content: space-around;
    }
  }
  &-item {
    &:not(:first-of-type) {
      // margin-top: 110px;
      @include mq(max, 0, var.$sp) {
        margin-top: calc(145px / 2);
      }
    }
    &:nth-child(2) {
      margin-top: 110px;
      @include mq(max, 0, var.$sp) {
        @include sizeVw(mt, 110);
      }
    }
    &:nth-child(3) {
      margin-top: 100px;
      @include mq(max, 0, var.$sp) {
        @include sizeVw(mt, 100);
      }
    }
    &:nth-child(n + 4) {
      margin-top: 100px;
      @include mq(max, 0, var.$sp) {
        @include sizeVw(mt, 100);
      }
    }
    &:nth-child(even) {
      .l-benefits-column-row {
        flex-direction: row-reverse;
      }
      .l-benefits-column-col {
        padding: 0 30px 0 0;
        @include mq(max, 0, var.$sp) {
          padding: 0;
        }
      }
    }
    &-reverse {
      // flex-direction: row-reverse;
      #{$this}-column-col {
        // padding: 0 30px 0 0;
        @include mq(max, 0, var.$sp) {
          // padding: 0;
        }
        //   &:first-child{
        //     width: 47%;
        //     @include mq(max, 0, var.$sp) {
        //       width: 100%;
        //     }
        //   }
        //   &:last-child{
        //     width: 53%;
        //     @include mq(max, 0, var.$sp) {
        //       width: 100%;
        //     }
        //   }
      }
    }
  }
  &-column {
    width: 100%;
    &-row {
      display: flex;
      flex-wrap: wrap;
    }
    &-col {
      padding: 0 0 0 30px;
      @include mq(max, 0, var.$sp) {
        padding: 0;
      }
      &:first-child {
        width: 47%;
        @include mq(max, 0, var.$sp) {
          width: 100%;
        }
      }
      &:last-child {
        width: 53%;
        @include mq(max, 0, var.$sp) {
          width: 100%;
          @include sizeVw(mt, 30);
        }
      }
    }
  }
  &-img {
    img {
      width: 100%;
    }
    // @include mq(max, 0, var.$sp) {
    //   @include sizeVw(mt, 30)
    // }
  }
}

/*///////////////////////
bnr
///////////////////////*/
.l-bnr {
  &-item {
    &:not(:first-of-type) {
      margin-top: 48px;
      @include mq(max, 0, var.$sp) {
        @include sizeVw(mt, 48);
      }
    }
  }
}

/*///////////////////////
footer
///////////////////////*/
.l-footer {
  margin-top: 134px;
  @include mq(max, 0, var.$sp) {
    margin-top: calc(120px / 2);
  }
}
