@use 'sass:math';
@use '../Mixin/_mixin' as *;
@use '../Config/_variables' as var;

/*------------------------
  main
------------------------*/
/////////////////////////
// main
////////////////////////
.l-main {
  margin-top: 70px;
  @include mq(max, 0, var.$md) {
    @include sizeVw(mt, 40);
  }
  &-top {
    .l-heading-2-container {
      margin-bottom: 20px;
      @include mq(max, 0, var.$md) {
        margin-bottom: 30px;
      }
    }
  }
}
