@use 'sass:math';
@use '../Mixin/_mixin' as *;
@use '../Config/_variables' as var;

/*------------------------
  mainvisual
------------------------*/
/////////////////////////
// mainvisual
////////////////////////
.l-mainvisual {
  $this: &;
  position: relative;
  // height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('#{var.$bg_path}bg_main.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // padding-top: 53.3333%;
  @include mq(max, 0, var.$md) {
    background-image: url('#{var.$bg_path}bg_main_sp.jpg');
  }
  &-top {
    // aspect-ratio: 16 / 9;
    @include mq(max, 0, var.$md) {
      // aspect-ratio: auto;
      // @include sizeVw(pt, 227);
      // @include sizeVw(pb, 240);
    }
    #{$this}-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      // height: 100%;
      padding: 262px 30px;
      @include mq(max, 0, var.$md) {
        max-width: calc((340 / var.$sp) * 100vw);
        padding: 0;
        margin: 0 auto;
      }
    }
  }
  &-inner {
    padding: 0 30px;
    @include mq(max, 0, var.$md) {
      padding: 0 20px;
    }
  }
  &-body {
    @include mq(max, 0, var.$md) {
      flex-grow: 1;
    }
  }
  &#{$this}-under {
    max-height: 240px;
    @include mq(max, 0, var.$md) {
      max-height: 190px;
    }
  }
}

.m-mainvisual {
  &-heading {
    color: #fff;
    @include font-size(72);
    line-height: 1.25;
    font-weight: bold;
    word-break: keep-all;
    @include mq(max, 0, var.$md) {
      @include font-size(48);
    }
    &-sub {
      color: #fff;
      @include font-size(24);
      line-height: 1.58;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      @include mq(max, 0, var.$md) {
        @include font-size(16);
        text-align: left;
      }
    }
  }
  &-btn {
    color: #fff;
    @include font-size(15);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // min-height: 60px;
    max-width: 220px;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 20px;
    margin: 50px auto 0;
    @include mq(max, 0, var.$md) {
      margin: 50px 0 0;
    }
    &:hover {
      text-decoration: none;
      @include mq(min, var.$sp, 0) {
        opacity: 0.7;
      }
    }
  }
  &-scroll {
    position: absolute;
    bottom: 80px;
    right: 22px;
    color: #fff;
    @include font-size(14);
    font-weight: bold;
    height: 80px;
    writing-mode: vertical-rl;
    @include mq(max, 0, var.$md) {
      @include font-size(12);
    }
    &::before {
      content: '';
      position: absolute;
      top: 80px;
      left: 50%;
      width: 1px;
      height: 80px;
      background-color: #fff;
      animation: scrollBar 1s ease infinite;
    }
  }
}
