@use 'sass:math';
@use '../Mixin/_mixin' as *;
@use '../Config/_variables' as var;

/*------------------------
  menu
------------------------*/
/////////////////////////
// menu
////////////////////////
.l-menu {
  display: block;
  @include mq(min, var.$md, 0) {
    display: none;
  }
}

.m-menu {
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  svg {
    &:not(:first-child) {
      margin-top: 7px;
    }
  }
}
