@use 'sass:math';
@use '../Mixin/_mixin' as *;
@use '../Config/_variables' as var;

/*------------------------
  nav
------------------------*/
/////////////////////////
// nav
////////////////////////
.l-nav {
  $this: &;
  @include mq(max, 0, var.$md) {
    display: none;
  }
  &-list {
    display: flex;
  }
  &-footer {
    @include mq(max, 0, var.$md) {
      display: block;
    }
    #{$this}-list {
      justify-content: center;
      @include mq(max, 0, var.$lg) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  }
}

.m-nav {
  $this: &;
  &-list {
    &-item {
      &:not(:first-child) {
        margin-left: 25px;
      }
    }
  }
  &-link {
    color: #fff;
    font-weight: bold;
    position: relative;
    @include mq(max, 0, var.$lg) {
      @include font-size(12);
    }
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transition: width 0.3s ease;
    }
    &:hover {
      @include mq(min, var.$sp, 0) {
        text-decoration: none;
        &::before {
          width: 100%;
        }
      }
    }
  }
  &-footer {
    &-list {
      &-item {
        @include mq(max, 0, var.$md) {
          margin-right: 20px;
          margin-bottom: 20px;
        }

        &:not(:first-child) {
          margin-left: 30px;
          @include mq(max, 0, var.$md) {
            margin-left: 0;
          }
        }
        &:last-child {
          @include mq(max, 0, var.$md) {
            margin-right: 0;
          }
        }
      }
    }
    &-link {
      @include font-size(14);
    }
  }
}
