@use 'sass:math';
@use '../Mixin/_mixin' as *;
@use '../Config/_variables' as var;
/*///////////////////////
utility
///////////////////////*/

////////////////////////
// color
////////////////////////
.m-color {
  &-sub {
    color: #240c6a;
  }
}

////////////////////////
// text-align
////////////////////////
.m-ac {
  text-align: center !important;
}
.m-al {
  text-align: left !important;
}
.m-ar {
  text-align: right !important;
}

////////////////////////
// text-style
////////////////////////
.m-bold {
  font-weight: bold !important;
}

////////////////////////
// display
////////////////////////
.m-hide {
  &-pc {
    display: none;
    @include mq(max, 0, var.$sp) {
      display: block;
    }
  }
  &-sp {
    display: block;
    @include mq(max, 0, var.$sp) {
      display: none;
    }
  }
}

////////////////////////
// block-center
////////////////////////
.m-block-lg {
  max-width: var(--width_lg);
  max-width: var.$lg_width;
  margin: 0 auto;
}

.m-block-md {
  max-width: var(--width_md);
  max-width: var.$md_width;
  margin: 0 auto;
}

.m-block-sm {
  max-width: var(--width_sm);
  max-width: var.$sm_width;
  margin: 0 auto;
}

////////////////////////
// width
////////////////////////
@for $i from 0 through 20 {
  .m-w-#{$i * 5} {
    width: (#{$i * 5%}) !important;
  }
}

////////////////////////
// margin-top
////////////////////////
@for $i from 0 through 10 {
  .m-mt-#{$i * 5} {
    margin-top: #{$i * 5}px !important;
  }
}

////////////////////////
// margin-bottom
////////////////////////
@for $i from 0 through 10 {
  .m-mb-#{$i * 5} {
    margin-bottom: #{$i * 5}px !important;
  }
}
